<div class="container">
  <h4>List Your Availability to Book an Appointment</h4>
  <form>
    <div class="form-group">
      <textarea class="form-control" rows="3" id="timings" ng-model="clientAvail"></textarea>
      <button class="btn btn-primary" type="button" ng-click = "submitAvailability()" >Submit Availability</button>
    </div>
  </form>
</div>

<div class="customScroll">
<table class="table">
  <thead>
    <tr>
      <th>#</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Username</th>
      <th>FeedBack</th>
    </tr>
  </thead>
  <tbody>
  	<tr ng-repeat="history in historyData">
  		<td>{{history.id}}</td>
  		<td>{{history.firstName}}</td>
  		<td>{{history.lastName}}</td>
  		<td>{{history.userName}}</td>
  		<td ><button type="button" class="btn btn-primary" ng-click = "showFeedBack(history)" ng-if="history.feedback">Show Feedback</button></td>
  	</tr>
    
  </tbody>
</table>
</div>

	<div class="container" ng-if="showFeedBackDiv == true">
		<h4>Comments From the Therapist</h4>
		{{feedback}}
	</div>