<html>

<head>
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300" rel="stylesheet">
  <script  src="./lib/angular.js"></script>
  <script  src="app.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.0/Chart.min.js"></script>
</head>

<style type="text/css">
  *{
     font-family: 'Open Sans', sans-serif;
  }
 
</style>


<div class="container">
  <h4 style="font-size:2em;margin-bottom:4%;margin-top:4%">List Your Availability to Book an Appointment</h4>
  <form >
    <div class="form-group">

    

      <textarea class="form-control" rows="3" id="timings" ng-model="clientAvail"></textarea>
      <button class="btn btn-primary" style="margin-top:2.5%;margin-left:40%;" type="button" ng-click = "submitAvailability()" >Submit Availability</button>

    </div>
  </form>
</div>

<div class="customScroll">
<table class="table">
  <thead>
    <tr>
      <th>#</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Username</th>
      <th>FeedBack</th>
    </tr>
  </thead>
  <tbody>
  	<tr ng-repeat="history in historyData">
  		<td>{{history.id}}</td>
  		<td>{{history.firstName}}</td>
  		<td>{{history.lastName}}</td>
  		<td>{{history.userName}}</td>
  		<td ><button type="button" class="btn btn-primary" ng-click = "showFeedBack(history)" ng-if="history.feedback">Show Feedback</button></td>
  	</tr>
    
  </tbody>
</table>
</div>

	<div class="container" ng-if="showFeedBackDiv == true">
		<h4>Comments From the Therapist</h4>
		{{feedback}}
	</div>


</html>