
<div class="row" >
	<div class="col-md-6" style="text-align: center">
		Select the Therapist<br>
	  	<select class="custom-select">
		  <option selected>Open this select menu</option>
		  <option value="1">Dr A</option>
		  <option value="2">Dr B</option>
		  <option value="3">Dr C</option>
		</select>
	</div>
	<div class="col-md-6">
	  	<select class="selectpicker" multiple data-selected-text-format="count">
		  <option>Patient 1</option>
		  <option>Patient 2</option>
		  <option>Patient 3</option>
		</select>
	</div>
</div>

<div class="col-md-10" style="text-align: center">
	<br>
	 <button class="btn btn-primary " type="submit" ng-click = "schedule()" >Schedule</button>
</div>